.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-template-areas:
    "display display display display"
    "ac divide multiply minus"
    "seven eight nine plus"
    "four five six plus"
    "one two three equal"
    "zero zero point equal";
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 425px;
    height: 635px;
}

.display {
  grid-area: display;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid black;
  width: 415px;
  height: 100px;
}

.display input{
  font-weight: bold;
  font-family: 'Calculator', sans-serif;
  text-align: right;
  border-radius: 5px;
  width: 411px;
  height: 96px;
}

.ac {
  grid-area: ac;
  background-color: #FFA500;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Calculator', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  text-align: center;
  vertical-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #bda000;
  }
  &:active {
    background-color: #a18900;
  }
  &:focus {
    outline: none;
  }
}

.divide {
  grid-area: divide;
  width: 100px;
  height: 100px;
}

.multiply {
  grid-area: multiply;
  width: 100px;
  height: 100px;
}

.minus {
  grid-area: minus;
  width: 100px;
  height: 100px;
}

.plus {
  grid-area: plus;
  width: 100px;
  height: 205px;
}

.equal {
  grid-area: equal;
  width: 100px;
  height: 205px;
}

.point {
  grid-area: point;
  width: 100px;
  height: 100px;
}

.zero {
  grid-area: zero;
  width: 205px;
  height: 100px;
}

.one {
  grid-area: one;
  width: 100px;
  height: 100px;
}

.two {
  grid-area: two;
  width: 100px;
  height: 100px;
}

.three {
  grid-area: three;
  width: 100px;
  height: 100px;
}

.four {
  grid-area: four;
  width: 100px;
  height: 100px;
}

.five {
  grid-area: five;
  width: 100px;
  height: 100px;
}

.six {
  grid-area: six;
  width: 100px;
  height: 100px;
}

.seven {
 grid-area: seven;
  width: 100px;
  height: 100px;
}

.eight {
  grid-area: eight;
  width: 100px;
  height: 100px;
}

.nine {
  grid-area: nine;
  width: 100px;
  height: 100px;
}

.container .divide, .container .multiply, .container .minus, .container .plus, .container .equal, .container .point, .container .zero, .container .one, .container .two, .container .three, .container .four, .container .five, .container .six, .container .seven, .container .eight, .container .nine {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Calculator', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  text-align: center;
  vertical-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #e0e0e0;
  }
  &:active {
    background-color: #d0d0d0;
  }
  &:focus {
    outline: none;
  }
  
}

#display{
  font-size: 4rem;
  font-family: 'Calculator', sans-serif;
  padding: 0;
  margin: 0;
  cursor: text;
  transition: background-color 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}