.container {  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "display display display display"
    "ac divide multiply minus"
    "seven eight nine plus"
    "four five six plus"
    "one two three equal"
    "zero zero point equal";
}

.display { grid-area: display; }

.ac { grid-area: ac; }

.divide { grid-area: divide; }

.multiply { grid-area: multiply; }

.minus { grid-area: minus; }

.plus { grid-area: plus; }

.equal { grid-area: equal; }

.point { grid-area: point; }

.zero { grid-area: zero; }

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }